/* Website */
body
{
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-anchor: none;
  text-rendering: optimizeLegibility;
  image-rendering: pixelated;

  --navbar-margin: 60px;
  --purple-main-color: #613D96;
  --purple-dark-color: #401D66;
  --light-pink-color: #D6C5F8;
  --blog-bg-color: #CDCBD4;
  --pink-gray-color: #B0ACB5;
}

.background
{
  position: absolute;
  background:
    url(../public/background.png) no-repeat fixed bottom center / cover;
  min-height: 100vh;
  width: 100vw;
}

body::-webkit-scrollbar
{
  width: 14px;
}

body::-webkit-scrollbar-track
{
  background: var(--light-pink-color);
}

body::-webkit-scrollbar-thumb
{
  background: var(--purple-dark-color);
}


/* Navbar */
#navbar
{
  font: 26px "Montserrat", sans-serif;
  font-weight: 500;
  background: rgba(97, 61, 150, 0.8);
  text-transform: uppercase;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 3;
  line-height: var(--navbar-margin);
  height: var(--navbar-margin);
}

#navbar ul
{
  list-style: none;
  margin: 0px;
  height: var(--navbar-margin);
}

#navbar ul li
{
  display: inline-block;
}

#navbar a
{
  color: var(--light-pink-color);
  text-decoration: none;
  padding: 15px 20px 15px 20px;
}

#navbar ul li a,
#navbar ul li a::before,
#navbar ul li a::after
{
  transition: all .5s;
}

#navbar ul li a:hover
{
  color: white;
}

#navbar ul li a.active
{
  color: white;
  text-shadow: black 1px 0 13px;
  background:
    linear-gradient(to top, transparent 85%, var(--purple-dark-color) 0) top/100% no-repeat;
}

#navbar-icons
{
  height: 0px;
}

#navbar-icons #icons-box
{
  display: flex;
  justify-content: flex-end;
  margin: -31px 90px 0 0;
}

#navbar-icons #icons-box a
{
  padding: 0;
}


/* Navbar shift */
#shift ul li a
{
  position: relative;
  z-index: 1;
}

#shift ul li a:hover::before
{
  color: white;
}

#shift ul li a::after
{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  background: rgba(72, 44, 112, 0.8);
  border-radius: 3px;
  z-index: -1;

  /* Animation vars */
  visibility: none;
  opacity: 0;
  height: 0px;

  /* Font disapper */
  content: '`';
  color: transparent;
  font-size: 1px;
}

#shift ul li a:hover::after
{
  opacity: 1;
  visibility: visible;
  height: var(--navbar-margin);
}


/* Hamburger menu setup */
.switch
{
  display: none;
  cursor: pointer;
  position: relative;
  height: 40px;
  width: 40px;
  margin: 0px 10px 0 10px;
  background: none;
  top: 9px;
}

.switch.on
{
  filter: invert(90%) brightness(1.5) sepia(0.6) hue-rotate(-150deg) saturate(5);
}

.switch.off
{
  filter: invert(90%) brightness(0.7) sepia(0.6) hue-rotate(-150deg) saturate(5);
}

.switch,
.switch::before,
.switch::after
{
  transition: all .3s;
}

#hamburger-box,
#hamburger-box li
{
  height: var(--navbar-margin);
}

#hamburger-box,
.show-hamburger-nav,
.hamburger-items
{
  display: none;
}


/* Footer, social icons */
#footer
{
  position: sticky;
  font: 18px "Montserrat", sans-serif;
  background: var(--purple-main-color);
  color: var(--light-pink-color);
  height: auto;
  width: 100vw;
  top: 100vh;
}

#footer #created-by
{
  padding: 21px 25px 19px 25px;
  text-align: center;
}

#footer #created-by a
{
  text-decoration: none;
  color: white;
  font-size: 19px;
}

#footer hr
{
  border-color: var(--light-pink-color);
  background-color: var(--light-pink-color);
  margin: auto;
  width: 300px;
  max-width: 90vw;
}

#icons-box
{
  position: relative;
  display: inline-block;
  height: 40px;
  margin-top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#icons-box .icon
{
  width: 40px;
  margin: 0 10px 0 10px;
  filter: invert(90%) brightness(0.7) sepia(0.6) hue-rotate(-150deg) saturate(5);
}

#icons-box ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}

#icons-box ul li
{
  display: inline;
}

#icons-box ul li a,
#icons-box ul li a::before,
#icons-box ul li a::after
{
  display: inline-flex;
  transition: all .5s;
}

#icons-box ul li a:hover
{
  filter: brightness(1.8) drop-shadow(0 0 0.75rem black);
}


/* Home page */
#main-title
{
  margin-top: calc(36vh + var(--navbar-margin));
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80vw;
  max-width: 736px;
}

#main-title img
{
  width: 100%;
  height: auto;
}

#blog-page #main-title,
#post-page #main-title,
#gallery-page #main-title,
#faq-page #main-title,
#contact-page #main-title
{
  position: relative;
  transform: translate(-50%, 0%);
  padding: 0;
  margin: calc(var(--navbar-margin) + 60px) 0 60px 0;
}

#background1, #background2, #background3, #background4, #background5
{
  height: 100vh;
  image-rendering: pixelated;
  width: 100vw;
  object-fit: cover;
  position: absolute;
}

#background1, #background2, #background3, #background4,
#background1::before, #background1::after,
#background2::before, #background2::after,
#background3::before, #background3::after,
#background4::before, #background4::after
{
  transition: all .005s;
}

#background5
{
  padding-top: 35vh;
  z-index: 1;
  background: bottom center repeat-x url(../public/home-background/first-layer.png);
  background-size: cover;
}

#title-page
{
  height: calc(100vh + 35vh);
}

#trailer-video
{
  position: relative;
  width: 100vw;
  background: var(--purple-main-color);

  padding-top: 15px;
}

#trailer-gallery
{
  /* Temporary image gallery */
  width: 1280px;
  max-width: 80vw;
  padding: 5px;
  margin: auto;
  border: var(--purple-dark-color) solid 8px;
}

#section-waves
{
  width: 100vw;
}

#section-waves-box
{
  position: relative;
  width: 100vw;
  background: var(--light-pink-color);
}

#features-box
{
  position: relative;
  display: inline-flex;
  flex-flow: row wrap;
  margin: 70px 0 60px 0;
  max-width: 100vw;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, 0%);
}

.features
{
  padding: 0 40px 50px 40px;
  min-width: 200px;
  height: 100%;
  width: 330px;
}

.features .features-title
{
  padding-bottom: 20px;
  font: 40px "Open Sans Condensed", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.features img
{
  width: 100%;
  height: auto;
}

.features span
{
  display: flex;
  padding-top: 20px;
  text-align: justify;
  font: 20px/1.4 "Open Sans", sans-serif;
}


/* Blog page */
.post, .post-preview
{
  margin: 0 auto 18px auto;
  padding: 3px 28px 10px 28px;
  background-color: var(--blog-bg-color);
  border-radius: 14px;
  border: solid 14px;
  -webkit-border-image: url(/border-image.png) 33 stretch;
  -o-border-image: url(/border-image.png) 33 stretch;
  border-image: url(/border-image.png) 33 stretch;
  border-image-slice: 33%;
  max-width: 1050px;
  width: 60vw;
}

.post-preview:last-child,
.post
{
  margin-bottom: 80px;
}

.post-preview h2 a,
.post-preview h2 a::before,
.post-preview h2 a::after
{
  transition: all .3s;
}

#post-title, .post-preview h2 a
{
  font: bold 28px "Montserrat", sans-serif;
  padding: 5px 9px 5px 0px;
  text-decoration: none;
  color: black;
}

.post-preview h2 a:hover
{
  color: var(--purple-dark-color);
  filter: drop-shadow(0 0 0.3rem var(--purple-dark-color));
}

.loading
{
  text-align: center;
  font: bold 58px "Montserrat", sans-serif;
  margin-top: 4px;
}

.published
{
  font: 19px "Montserrat", sans-serif;
  margin-left: 95px;
}

#author-name
{
  font: bold 19px "Montserrat", sans-serif;
}

#author-image
{
  width: 70px;
  height: 70px;
  image-rendering: auto;
  margin-left: -93px;
  margin-top: -25px;
}

.post-body
{
  font: 17px "Open Sans", sans-serif;
  line-height: 1.4;
  margin-bottom: 1em;
}

figure
{
  /* Images in posts */
  text-align: center;
  margin: 23px 23px 23px 21px;
}

figure img
{
  max-width: 50vw;
  height: auto;
}

#show-more
{
  height: 50px;
  width: 100%;
  background:
    linear-gradient(transparent, black) top/100% no-repeat;
  background-size: 100% 65px;
  margin: 0 0 -14px -32px;
  padding: 0 32px 0 32px;
  text-align: center;
}

#show-more-trans
{
  height: 14px;
}

#show-more a
{
  font: 19px "Montserrat", sans-serif;
  color: black;
  filter: drop-shadow(0 0 0.4rem black);
  text-decoration: none;
  padding: 6px 12px 7px 12px;
}

#show-more a,
#show-more a::before,
#show-more a::after
{
  transition: all .2s;
}

#show-more a:hover
{
  color: var(--purple-dark-color);
  filter: drop-shadow(0 0 0.15rem var(--purple-main-color));
}


/* Pagination */
#pagination
{
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 60px;
  margin-top: -23px;
  max-width: 1110px;
  width: calc(60vw + 60px);

  /* Center pagination box */
  left: 50%;
  transform: translate(-50%, 0%);
}

#pagination ul
{
  list-style: none;
  margin-left: -45px;
}

#pagination ul li
{
  display: inline-block;
  margin: 3px 4px 3px 4px;
  text-align: left;
}

#pagination ul li button
{
  width: 48px;
  height: 40px;
  border-radius: 10px;
  border: 4px solid var(--purple-dark-color);
  background-color: var(--blog-bg-color);
  font: 20px "Montserrat", sans-serif;
}

#pagination ul li button,
#pagination ul li button::before,
#pagination ul li button::after
{
  transition: all .2s;
}

#pagination ul li button:hover
{
  cursor: pointer;
  filter: drop-shadow(0 0 0.4rem black);
  background-color: white;
}


/* Categories containers */
#categories-box
{
  margin-left: 87px;
  margin-top: -44px;
  margin-bottom: 26px;
}

#categories
{
  display: inline-flex;
  font: 16px "Montserrat", sans-serif;
  padding: 2px 0 2px 0;
}

#category-single
{
  border-radius: 15px;
  border: 2px solid var(--purple-dark-color);
  padding: 5px 7px 5px 7px;
  background-color: var(--purple-main-color);
  color: var(--blog-bg-color);
  margin-left: 10px;
}


/* Comments */
.comments-title
{
  font: bold 24px "Montserrat", sans-serif;
  padding-top: 8px;
}

#comment-box
{
  margin: 0px 15px -6px -25px;
  font: 15px "Helvetica Neue", sans-serif;
  background-color: var(--pink-gray-color);
  border-radius: 7px;
  padding: 14px 10px 0px 10px;
  max-width: 990px;
}

#comment-box p
{
  padding-bottom: 14px;
  word-wrap: break-word;
}

#comment-box span
{
  font-weight: 600;
}

#comment-box:last-child
{
  margin-bottom: 25px;
}

#date
{
  text-align: right;
  margin: -17px 0 0 0;
}

.comment-submitting
{
  font: bold 17px "Helvetica Neue", sans-serif;
  margin-left: 17px;
  margin-bottom: 25px;
}


/* Comment form */
#form
{
  margin: 30px 0 20px 0;
}

#form-name input,
#form-email input,
#form-submit input
{
  font: 15px "Helvetica Neue", sans-serif;
  margin: 4px 0 4px 0;
  border-radius: 5px;
  border: 3px solid var(--purple-dark-color);
  background: white;
  padding: 5px 7px 5px 7px;
  max-width: 313px;
  min-width: 113px;
  width: calc(20vw - 33px);
}

#form-submit input,
#form-submit input::before,
#form-submit input::after
{
  transition: all .5s;
  width: calc(20vw - 34px);
  min-width: 133px;
}

#form-name input:focus,
#form-email input:focus,
#form-submit input:focus,
#form-comment textarea:focus
{
  border: 3px solid white;
}

#form-name,
#form-email,
#form-comment
{
  font: bold 15px "Helvetica Neue", sans-serif;
  margin: 0px 0px 0px 15px;
}

#form-comment textarea
{
  resize: none;
  border-radius: 5px;
  padding: 5px 7px 5px 7px;
  border: 3px solid var(--purple-dark-color);
  background: white;
  max-width: 1010px;
  width: calc(60vw - 30px);
  height: 76px;
  font: 17px "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

#form-submit
{
  margin-left: 15px;
}

#form-submit input
{
  font: 15px "Helvetica Neue", sans-serif;
  color: var(--purple-dark-color);
  font-weight: 600;
  cursor: pointer;
}

#form-submit input:hover
{
  background-color: var(--light-pink-color);
}

#form-second-row
{
  display: inline-flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 1025px;
  width: calc(60vw - 13px);
  padding-top: 6px;
}


/* Gallery page */
#gallery-page .post
{
  padding-top: 25px;
  padding-bottom: 40px;
  width: 1280px;
  max-width: 80vw;
}

#gallery-page .post hr
{
  margin-bottom: 27px;
  border-color: black;
  background-color: black;
  height: 1px;
}

.gallery-title
{
  text-align: center;
  font: bold 52px "Montserrat", sans-serif;
  margin: 5px 0 20px 0;
}

/* React image gallery */
.image-gallery-icon
{
  color: white;
  transition: all .2s ease-out;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 2;
  filter: drop-shadow(0 2px 2px #1a1a1a);
}

@media (min-width: 768px)
{
  .image-gallery-icon:hover
  {
    color: var(--purple-dark-color);
  }

  .image-gallery-icon:hover .image-gallery-svg
  {
    transform: scale(1.1);
  }
}

.image-gallery-using-mouse .image-gallery-icon:focus
{
  outline: none;
}

.image-gallery-fullscreen-button
{
  bottom: 0;
  padding: 10px;
}

.image-gallery-fullscreen-button .image-gallery-svg
{
  height: 36px;
  width: 36px;
}

@media (max-width: 768px)
{
  .image-gallery-fullscreen-button
  {
    padding: 8px;
  }

  .image-gallery-fullscreen-button .image-gallery-svg
  {
    height: 24px;
    width: 24px;
  }
}

@media (max-width: 480px)
{
  .image-gallery-fullscreen-button
  {
    padding: 6px;
  }

  .image-gallery-fullscreen-button .image-gallery-svg
  {
    height: 16px;
    width: 16px;
  }
}

.image-gallery-fullscreen-button
{
  right: 0;
}

.image-gallery-left-nav,
.image-gallery-right-nav
{
  padding: 50px 10px;
  top: 50%;
  transform: translateY(-50%);
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg
{
  height: 120px;
  width: 60px;
}

@media (max-width: 768px)
{
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg
  {
    height: 72px;
    width: 36px;
  }
}

@media (max-width: 480px)
{
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg
  {
    height: 48px;
    width: 24px;
  }
}

.image-gallery-left-nav
{
  left: 0;
}

.image-gallery-right-nav
{
  right: 0;
}

.image-gallery
{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.image-gallery-slide-wrapper
{
  position: relative;
}

.image-gallery-slides
{
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-align: center;
}

.image-gallery-slide
{
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.image-gallery-slide.center
{
  position: relative;
}

.image-gallery-slide .image-gallery-image
{
  width: 100%;
  object-fit: contain;
}

.image-gallery-bullets
{
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 2;
}

.image-gallery-bullets .image-gallery-bullets-container
{
  margin: 0;
  padding: 0;
  text-align: center;
}

.image-gallery-bullets .image-gallery-bullet
{
  appearance: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: 0 1px 0 #1a1a1a;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  outline: none;
  padding: 5px;
  transition: background .2s ease-out;
}

@media (max-width: 768px)
{
  .image-gallery-bullets .image-gallery-bullet
  {
    margin: -11px 3px;
    padding: 3px;
  }
}

@media (max-width: 480px)
{
  .image-gallery-bullets .image-gallery-bullet
  {
    padding: 2.7px;
  }
}

.image-gallery-bullets .image-gallery-bullet:focus, .image-gallery-bullets .image-gallery-bullet:hover
{
  background: var(--pink-gray-color);
  transform: scale(1.2);
}

.image-gallery-bullets .image-gallery-bullet.active
{
  background: white;
}

.image-gallery-thumbnails-wrapper
{
  position: relative;
}

.image-gallery-thumbnails
{
  overflow: hidden;
  padding: 5px 0;
}

@media (max-width: 768px)
{
  .image-gallery-thumbnails
  {
    padding: 3px 0;
  }
}

.image-gallery-thumbnails .image-gallery-thumbnails-container
{
  cursor: pointer;
  text-align: center;
  transition: transform .45s ease-out;
  white-space: nowrap;
}

.image-gallery-thumbnail
{
  display: inline-block;
  border: 4px solid transparent;
  transition: border .2s ease-out;
  width: 100px;
  cursor: pointer;
  background: transparent;
  padding: 0;
}

@media (max-width: 768px)
{
  .image-gallery-thumbnail
  {
    border: 3px solid transparent;
    width: 81px;
  }
}

.image-gallery-thumbnail + .image-gallery-thumbnail
{
  margin-left: 2px;
}

.image-gallery-thumbnail .image-gallery-thumbnail-inner
{
  position: relative;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image
{
  vertical-align: middle;
  width: 100%;
  line-height: 0;
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus
{
  outline: none;
  border: 4px solid var(--purple-dark-color);
}

@media (max-width: 768px)
{
  .image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus
  {
    border: 3px solid var(--purple-dark-color);
  }
}

.image-gallery-index
{
  font: 16px "Montserrat", sans-serif;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  z-index: 2;
}

@media (max-width: 768px)
{
  .image-gallery-index
  {
    font-size: .8em;
    padding: 5px 10px;
  }
}


/* FAQ page */
#faq-page .post
{
  padding-bottom: 13px;
}

#faq-page h3
{
  font: bold 24px "Montserrat", sans-serif;
  margin: 30px 0 0 0;
}

#faq-page h3:first-child
{
  margin-top: 20px;
}

#faq-page p
{
  font: 17px "Open Sans", sans-serif;
  line-height: 1.4;
  margin: 8px 0 12px 0;
}


/* Media page */
#media-page .post
{
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: calc(var(--navbar-margin) + 70px);
}

#media-page .post h1
{
  font: 23px "Montserrat", sans-serif;
  margin: 25px 0 3px 0;
}

#media-page .post a
{
  text-decoration: none;
  color: var(--purple-dark-color);
  font-weight: 700;
}

#media-page #main-title
{
  position: relative;
  margin: 0 0 45px 0;
  width: 45vw;
  transform: translate(-50%, 0%);
}

#press-nav
{
  margin-bottom: 40px;
}

#press-nav ul,
#press-factsheet ul,
#press-contact ul
{
  list-style: none;
  margin: 0;
  padding: 4px 0 5px 0;
}

#press-nav ul li,
#press-factsheet ul li,
#press-contact ul li
{
  padding: 5px 0 5px 1px;
}

#press-content
{
  width: 45vw;
  max-width: 890px;
  margin-left: auto;
  margin-top: -565px;
}

#press-content p,
#press-more-content p
{
  margin: 0;
  padding: 5px 0 0 0;
}

#media-page p,
#press-nav li,
#press-factsheet li,
#press-content li,
#press-contact li,
.press-download
{
  font: 17px "Open Sans", sans-serif;
  line-height: 1.4;
}

#press-content ul
{
  margin-top: 9px;
}

#press-content ul li
{
  margin-bottom: 5px;
}

#press-contact li,
.press-download
{
  font-weight: 500;
}

.press-download
{
  color: var(--purple-dark-color);
  background-color: var(--pink-gray-color);
  border: solid 1px black;
  border-radius: 9px;
  padding: 5px 5px 5px 8px;
  margin-bottom: 9px;
}

#features, #videos, #images, #logo, #contact
{
  top: -50px;
  position: relative;
  visibility: hidden;
}

#videos
{
  top: -75px;
}

#press-more-content
{
  margin-top: 50px;
}

#press-more-content h1
{
  padding-bottom: 5px;
}

#press-more-content hr
{
  border-color: var(--pink-gray-color);
  background-color: var(--pink-gray-color);
  margin-top: 30px;
}

#press-small-image
{
  width: calc(60vw + 10px);
  max-width: 1060px;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: -5px;
}

#press-small-image img
{
  width: calc(30vw - 5px);
  max-width: 520px;
  height: auto;
  margin: 5px 5px 0px 5px;
}

#press-logo-box
{
  width: 60vw;
  display: inline-flex;
}

#press-icon img
{
  width: calc(9vw);
  max-width: 195px;
  padding: 7px 35px 0 0;
  margin-bottom: -5px;
}

#press-logo img
{
  width: calc(35vw);
  max-width: 820px;
  padding: 5px 0 15px 0;
}


/* Steam page */
#steam-page .post
{
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: calc(var(--navbar-margin) + 70px);
}


/* Contact page */
#contact-page .post
{
  padding-top: 25px;
  padding-bottom: 25px;
}

#contact-mail
{
  font: 24px "Montserrat", sans-serif;
}

#mail
{
  color: var(--purple-dark-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  max-width: 20%;
}


/* Media dependencies */
@media screen and (max-width: 949px) /* Small screens */
{
  #navbar-icons #icons-box
  {
    display: none;
  }
}

@media screen and (max-width: 849px) /* Big tablets, tiny screens */
{
  #blog-page #main-title,
  #post-page #main-title,
  #gallery-page #main-title,
  #faq-page #main-title,
  #contact-page #main-title
  {
    margin: calc(var(--navbar-margin) + 40px) 0 40px 0;
  }

  .post,
  .post-preview
  {
    padding: 0 7px 0 7px;
    width: calc(60vw + 50px);
  }

  .post-preview:last-child,
  .post
  {
    margin-bottom: 50px;
  }

  #show-more
  {
    padding: 0 22px 0 0;
    margin: 0 0 -4px -11px;
  }

  #pagination
  {
    padding-bottom: 30px;
  }

  #form-second-row
  {
    width: calc(60vw + 40px);
    margin-left: -2px;
  }

  #form-name input,
  #form-email input,
  #form-submit input
  {
    width: calc(20vw - 18px);
  }

  #form-comment textarea
  {
    width: calc(60vw + 20px);
  }

  #media-page .post
  {
    margin-top: calc(var(--navbar-margin) + 50px);
    padding-top: 0px;
    padding-bottom: 15px;
  }

  #media-page #main-title
  {
    margin: 0 0 25px 0;
  }

  #press-small-image
  {
    width: calc(60vw + 60px);
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: -5px;
  }

  #press-small-image img
  {
    width: calc(30vw + 20px);
  }

  #press-icon img
  {
    padding-right: 20px;
    width: 11vw;
  }

  #press-logo img
  {
    width: 45vw;
  }

  #steam-page .post
  {
    margin-top: calc(var(--navbar-margin) + 50px);
  }
}

@media screen and (max-width: 679px) /* Medium tablets */
{
  #navbar-icons #icons-box
  {
    display: flex;
  }

  #navbar #shift ul li:not(:last-child)
  {
    display: none;
  }

  #navbar ul li a.active
  {
    background:
      linear-gradient(to bottom, transparent 87%, var(--purple-dark-color) 0) top/100% no-repeat;
  }

  #shift ul li a::after
  {
    display: none;
  }

  .switch
  {
    display: inline-block;
  }

  #hamburger-box
  {
    display: inline-block;
    margin-left: -15px;
  }

  .show-hamburger-nav
  {
    position: absolute;
    display: inline-block;
    background: rgba(97, 61, 150, 0.8);
    width: 100vw;
    margin-top: 31px;
  }

  .show-hamburger-nav ul
  {
    text-align: center;
    padding: 0;
  }

  .show-hamburger-nav ul li
  {
    width: 50%;
    height: 61px;
    float: left;
  }
}

@media (max-width: 569px) /* Huge phones and small tablets */
{
  #date
  {
    margin-top: 3px;
    text-align: left;
  }

  #press-content
  {
    width: calc(60vw + 40px);
    margin-right: auto;
    margin-top: 100px;
  }

  #media-page #main-title
  {
    width: calc(60vw + 40px);
  }

  #press-nav,
  #press-factsheet
  {
    display: inline-table;
    text-align: center;
  }

  #press-nav
  {
    margin-left: 7vw;
  }

  #press-factsheet
  {
    float: right;
    margin-right: 7vw;
  }
}

@media screen and (max-width: 426px) /* Regular phones */
{
  .loading
  {
    font-size: 36px;
  }

  #form-second-row
  {
    margin-left: 0;
  }

  #form-name input,
  #form-email input,
  #form-submit input
  {
    width: calc(60vw);
    margin-left: -5px;
  }

  #form-submit input
  {
    width: calc(60vw + 19px);
  }

  #steam-page .post,
  #contact-page .post
  {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #contact-mail
  {
    font-size: 18px;
  }

  #mail
  {
    font-size: 19px;
  }
}

@media screen and (max-width: 389px) /* Regular and small phones */
{
  #navbar
  {
    width: 78px;
    border-radius: 0px 4px 8px 4px;
  }

  #navbar-icons #icons-box
  {
    display: none;
  }

  #hamburger-box
  {
    margin-left: -51px;
  }

  .show-hamburger-nav
  {
    margin-top: -60px;
    padding-top: 60px;
  }

  .gallery-title
  {
    font-size: 36px;
  }

  #press-nav
  {
    margin-left: 0;
  }

  #press-factsheet
  {
    margin-right: 0;
  }
}

@media (max-width: 299px) /* Super small screens */
{
  #navbar
  {
    font-size: 20px;
  }

  .features
  {
    min-width: 150px;
  }

  .features .features-title
  {
    font-size: 28px;
  }

  #press-content
  {
    margin-top: 30px;
  }

  #press-nav,
  #press-factsheet
  {
    display: block;
    text-align: center;
  }

  #press-nav
  {
    margin-left: 0;
  }

  #press-factsheet
  {
    float: none;
    margin-right: 0;
  }

  #contact-mail
  {
    font-size: 15px;
  }

  #mail
  {
    font-size: 16px;
  }
}
