/* Website */
body
{
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-anchor: none;

  --navbar-margin: 60px;
  --purple-main-color: #613D96;
  --purple-dark-color: #401D66;
  --light-pink-color: #D6C5F8;
}

body::-webkit-scrollbar
{
  width: 14px;
}

body::-webkit-scrollbar-track
{
  background: var(--light-pink-color);
}

body::-webkit-scrollbar-thumb
{
  background: var(--purple-dark-color);
}


/* Navbar */
.navbar
{
  font: 26px "Montserrat", sans-serif;
  background: rgba(97, 61, 150, 0.8);
  text-transform: uppercase;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 3;
  line-height: 60px;
  height: 60px;
}

.navbar ul
{
  list-style: none;
  margin: 0px;
}

.navbar ul li
{
  display: inline-block;
}

.navbar a
{
  color: var(--light-pink-color);
  text-decoration: none;
  padding: 15px 25px 15px 25px;
  text-align: center;
}

.navbar ul li a,
.navbar ul li a:after,
.navbar ul li a:before
{
  transition: all .5s;
}

.navbar ul li a:hover
{
  color: white;
}

.navbar ul li a.active
{
  color: white;
  text-shadow: black 1px 0 13px;
  background:
    linear-gradient(to top, transparent 85%, var(--purple-dark-color) 0) top/100% no-repeat;
}

#navbar-icons .icons-box
{
  display: flex;
  justify-content: flex-end;
  margin: 0px 90px 0 0;
  padding-bottom: 62px;
}

#navbar-icons .icons-box a
{
  padding: 0;
  height: 40px;
  width: 40px;
}


/* Navbar shift */
.shift ul li a
{
  position: relative;
  z-index: 1;
}

.shift ul li a:hover::before
{
  color: white;
}

.shift ul li a:after
{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  background: rgba(72, 44, 112, 0.8);
  border-radius: 3px;
  z-index: -1;

  /* Animation vars */
  visibility: none;
  opacity: 0;
  height: 1px;

  /* Font disapper */
  content: '`';
  color: transparent;
  font-size: 1px;
}

.shift ul li a:hover:after
{
  opacity: 1;
  visibility: visible;
  height: 60px;
}


/* Home page */
#main-title
{
  margin-top: calc(36vh + var(--navbar-margin));
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#background1, #background2, #background3, #background4, #background5
{
  height: 100vh;
  image-rendering: pixelated;
  width: 100vw;
  object-fit: cover;
  position: absolute;
}

#background5
{
  height: 100vh;
  padding-top: 35vh;
  z-index: 1;
  background: bottom center repeat-x url(../public/home-background/first-layer.png);
  background-size: cover;
}

#title-page
{
  position: relative;
  height: calc(100vh + 35vh);
}

#trailer-video
{
  position: relative;
  width: 100vw;
  height: 750px;
  background: var(--purple-main-color);
  z-index: 0;
}

#trailer-video img
{
  position: absolute;
  width: 1060px;
  height: 597px;
  margin-top: 375px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;

}

#section-waves
{
  position: relative;
  width: 100vw;
}

#section-waves-box
{
  position: relative;
  width: 100vw;
  background: var(--light-pink-color);
}

#features-box
{
  position: relative;
  display: inline-flex;
  margin: 380px 0 -100px 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features
{
  position: relative;
  padding: 0 40px 0 40px;
  width: 330px;
}

.features .features-title
{
  padding-bottom: 20px;
  font: 36px "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.features img
{
  width: 100%;
  height: auto;
}

.features span
{
  display: flex;
  padding-top: 20px;
  text-align: justify;
  font: 20px/1.4 "Open Sans", sans-serif;
}

#footer
{
  position: relative;
  font: 18px "Montserrat", sans-serif;
  background: var(--purple-main-color);
  color: var(--light-pink-color);
  height: 170px;
  width: 100vw;
}

#footer #created-by
{
  padding: 25px;
  text-align: center;
}

#footer #created-by a
{
  text-decoration: none;
  color: white;
  font-size: 19px;
}

#footer hr
{
  border-color: var(--light-pink-color);
  margin: auto;
  width: 300px;
}

.icons-box
{
  position: relative;
  display: inline-block;
  height: 40px;
  margin-top: 45px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icons-box .icon
{
  width: 40px;
  margin: 0 10px 0 10px;
  filter: invert(90%) brightness(0.7) sepia(0.6) hue-rotate(-150deg) saturate(5);
}

.icons-box ul
{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.icons-box ul li
{
  display: inline;
}

.icons-box ul li a,
.icons-box ul li a::after,
.icons-box ul li a::before
{
  transition: all .5s;
}

.icons-box ul li a:hover
{
  filter: brightness(2) drop-shadow(0 0 0.75rem black);
}


/* Blog page */
.post, .post-preview
{
  margin: 0 8px 8px 8px;
  padding: 0px 15px 5px 15px;
  background-color: lightgray;
  border: solid;
}

.post, .post-preview:first-child
{
  margin-top: calc(var(--navbar-margin) + 8px);
}

#post-title, #post-preview-title
{
  font: bold 28px "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
}

#post-preview-title:hover
{
  color: darkgray;
}

.published
{
  font: 19px "Montserrat", sans-serif;
  margin-left: 95px;
}

#author-name
{
  font: bold 19px "Montserrat", sans-serif;
}

#author-image
{
  margin-left: -92px;
  margin-top: -25px;
}

.post-body
{
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 1.4;
}

figure
{
  /* Images in posts */
  text-align: center;
  margin: 23px;
}


/* Categories containers */
#categories-box
{
  margin-left: 87px;
  margin-top: -35px;
  margin-bottom: 35px;
}

#categories
{
  display: inline;
  font: 16px "Montserrat", sans-serif;
}

#category-single
{
  border-radius: 15px;
  border: 1px solid black;
  padding: 5px 7px 5px 7px;
  background-color: darkgray;
  margin-left: 10px;
}


/* Comments */
#comments-title
{
  font: bold 24px "Montserrat", sans-serif;
}

#comment-box
{
  margin: 0px 20px 7px -30px;
  font: 15px "Helvetica Neue", sans-serif;
  border: 1px solid black;
  padding: 0px 30px 5px 30px;
}

#comment-name
{
  text-decoration: none;
  color: black;
}

.comment-submitting
{
  font: bold 17px "Helvetica Neue", sans-serif;
}


/* Comment form */
input
{
  font: 15px "Helvetica Neue", sans-serif;
  color: black;
  border-radius: 5px;
  border: 2px solid black;
}

#form
{
  margin: 30px 0px 20px 0px;
}

#form-name, #form-email, #form-comment
{
  font: bold 15px "Helvetica Neue", sans-serif;
  margin: 0px 0px 0px 15px;
}

#form-comment
{
  margin-top: -140px;
  margin-left: 230px;
  min-height: 135px;
}

textarea
{
  color: black;
  resize: none;
  border-radius: 5px;
  border: 2px solid black;
  width: 950px;
  height: 128px;
  max-width: calc(100vw - 313px);
  max-height: 600px;
  font: 17px "Helvetica Neue", sans-serif;
}

#form-submit
{
  font: 15px "Helvetica Neue", sans-serif;
  margin: 0px 0px 0px 30px;
}
